.modal__container {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: #FFFFFF;
    z-index: 10;
    overflow-y: scroll !important;
}

.backdrop {
    z-index: 5;
    background: rgba(0, 0, 0, 0.80);
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    filter: blur(10px);
}

.flavors {
    padding: 4rem 1rem 0 1rem;
    display:flex;
    justify-content: space-between;
}

.reset__btn {
    border:2px solid var(--light-green-bg);
    border-radius:100px;
    color:var(--light-green-bg);
    font-weight: bolder;
    background-color: inherit;
    padding:0 1rem;
}

.close__modal {
    width: 24px;
    height: 24px;
    background: inherit;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 40px;
}

.close__modal::before {
    content: '';
    width: 2px;
    height: 20px;
    background: black;
    position: absolute;
    transform: rotate(45deg);
    left: 12px;
    top: 2px;
    opacity: 0.5;
}

.close__modal::after {
    content: '';
    width: 2px;
    height: 20px;
    background: black;
    position: absolute;
    transform: rotate(-45deg);
    left: 12px;
    top: 2px;
    opacity: 0.5;
}

.close__modal:hover, .close__modal:focus {
    background: lightgray;
    opacity: 0.8;
    cursor: pointer;
}

.title {
    margin-top: 1rem;
    padding: .7rem 1rem;
    background: rgba(234, 234, 234, 0.95);
    border-top: 1px solid lightgray;
    text-transform: uppercase;
    font-size: .85rem;
}

.content {
    padding: 1rem;
}

.edit__single__card {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: .75rem 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;

}

.edit__single__card p {
    margin: 0;
    font-size: 1.05rem;
}

.plus__button {
    background: inherit;
    border: 2px solid var(--light-green-bg);
    border-radius: 50%;
    font-size: 1rem;
    color: var(--light-green-bg);
}

.plus__button:hover {
    opacity:0.7;
    background-color:lightgreen;
}

.modal__btn__done__container {
    padding: 2rem 0;
}

.modal__btn_done {
    position: fixed;
    bottom: 10px;
    right: 25px;
    background: var(--light-green-bg);
    color: white;
    font-weight: bolder;
    font-size: 1.3rem;
    border: none;
    border-radius: 100px;
    padding: 1rem 1.5rem;
}
.modal__btn_done:disabled {
    opacity:0.4;
}

.row {
    display:flex;
    align-items: center;
    gap:1rem;
}

.counter {
    font-weight: bolder;
    color:black;
    margin:0;
}

@media (min-width:1000px) {
    .modal__container {
    height: 100vh;
    width: 60%;
    /* padding:0 10rem; */
    position: fixed;
    top: 0;
    right: 0;
    background: #FFFFFF;
    z-index: 10;
    overflow-y: scroll !important;
    }

    .edit__single__card {
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: .75rem 1rem;
        display: flex;
        justify-content: space-between;
        position: relative;
        max-width:600px;
        margin:1rem auto;
    }

    .flavors {
        max-width:620px;
        margin:0 auto;

    }

    .title {
        max-width:620px;
        margin:1rem auto;
    }
}