h1,h2,h3,h4,h5,h6{
    padding:0;
    margin:0;
}
*,*::after,*::before {
    box-sizing: border-box;
}
img {
    max-width:100%;
}
    /*Section 1*/

.cards__container{
    padding:2rem 1rem;
}
.cards__headers__flex {
    display:flex;
    justify-content: space-between;
}
.cards__headers__flex h3 {
    align-self: center;
    color:var(--light-green-bg);
    font-size:1.1rem;
}
.cards__headers__flex h2 {
    text-transform: uppercase;
    font-size:0.8rem;
    letter-spacing: 0.7px;
    font-weight: bolder;
}
.cards__images {
    padding:1.5rem 0;
    display:flex;
    gap:1rem;
}
.cards__images img {
    border-radius:10px;
    max-width:48%;
}
.tablet__img {
    display:none;
}
.fhd__img {
    display:none;
}

    /*Section 3*/

.section3__container {
    margin-top:-.5rem;
    padding:2rem 1rem 1rem 1rem;
    background:var(--light-light-green-bg);
}
.section3__header p {
    margin-top:5px;
    font-size:1.1rem;
    opacity:0.6;
}
.section3__buttons_flex{
    display:flex;
    gap:1rem;
}
.add_or_reload__btn {
    border:1px solid #000000;
    border-radius:100px;
    font-size:0.85rem;
    font-weight: bolder;
    padding:.5rem .8rem;
    background: inherit;
}
.check__balance__btn {
    color:white;
    border:none;
    font-size:0.85rem;
    font-weight: bolder;
    background:#000000;
    border-radius:100px;
    padding:.5rem .8rem;
}
.section3__footer {
    margin-top:2rem;
    font-size:1.05rem;
    display:flex;
    justify-content: flex-end;
    color:var(--light-green-bg);
}
.section3__desktop__flex {
    display:none;
}
.section3__desktop__container {
    display:none;
}
    /*Section 4*/

.section4__container {
    padding:0 1rem 1rem 1rem;
}
.section4__text {
    padding:1.2rem;
    max-width:80%;
}
.section4__text p {
    opacity:0.6;
    line-height: 1.3;
    font-size:1.010rem;
}
.section4__btn {
    font-size:.9rem;
    background: inherit;
    border:1px solid #000000;
    border-radius:100px;
    padding:.4rem 1rem;
}

    /*Section 5*/

.section5__container {
    padding:2rem;
    background:rgba(242,242,242,0.95);
}
.section5__header h4{
    text-transform: uppercase;
    font-size:.9rem;
}
.section5__header p{
    font-size:1.02rem;
}
.section5__buttons > div {
    margin-top:1rem;
}
.section5__btn {
    background:inherit;
    border:1px solid #000000;
    border-radius:100px;
    padding:0.4rem 1rem;
    font-weight: bolder;
    font-size:.8rem;
}

@media (min-width:768px) {
    .cards__container{
        padding:2rem 1rem;
    }
    .cards__headers__flex {
        display:flex;
        justify-content: space-between;
        padding:1rem 5rem 0 5rem;
    }
    .cards__headers__flex h3 {
        font-size:1.2rem;
    }
    .cards__headers__flex h2 {
        font-size:1rem;
    }
    .cards__images {
        padding:1.5rem 5rem;
        display:flex;
        gap:1rem;
    }
    .cards__images img {
        border-radius:10px;
        max-width:32%;
    }
    .tablet__img {
        display:block;
    }
        /*Section 3*/

    .section3__header {
        padding:0 5rem;
    }
    .section3__buttons_flex {
        display:none;
    }
    .section3__desktop__flex {
        margin-top:1rem;
        display:flex;
        gap:1rem;
        height:35px;
    }
    .section3__desktop__flex p{
        font-size:1.3rem;
    }
    .section3__desktop__flex .add_or_reload__btn, .check__balance__btn {
        padding:.5rem 1.2rem;
    }
    .p__sec3 {
        display:none;
    }

        /*Section 4*/
    .section4__container {
        display:flex;
        gap:3rem;
        padding:2rem 1rem 4rem 6rem;
    }
    .section4__text {
        padding:0;
        max-width:70%;
    }
    .section4__text p {
        font-size:1.150rem;
    }
    .section4__btn {
        font-weight: bolder;
    }
    .section4__img {
        align-self: center;
    }

       /* Section 5*/

    .section5__container {
        padding:2rem 6rem;
        background:rgba(242,242,242,0.95);
    }
    .section5__header h4{
        font-size:1.1rem;
    }
    .section5__header p{
        font-size:1.15rem;
        width:70%;
    }
    .section5__btn {
        font-size:0.95rem;
    }
    .section5__buttons {
        display:flex;
        gap:1rem;
    }
}

@media (min-width:1000px) {
    .section3__container {
        display:none;
    }
    .section3__desktop__container {
        margin-top:0;
        padding:2rem 6rem;
        background:var(--light-light-green-bg);
        display:flex;
        gap:2rem;
        align-items: center;
    }
    .section3__buttons_flex {
        display:flex;
        flex:1;
    }
    .section3__desktop__container .section3__header {
        padding:0;
    }
    .section3__desktop__container .section3__header p{
        font-size:1.3rem;
        margin:0;
    }
    .section3__footer {
        margin:0;
        font-size:1.250rem;
        display:block;
    }
    .fhd__img {
        display:block;
    }
    .cards__images {
        max-width:80%;
    }
    .cards__images img {

    }
    .cards__headers__flex {
        padding:1rem 2.5rem 0 5rem;
    }

       /* Section 4*/

    .section4__container {

    }
    .section4__text {
        max-width:20%;
        align-self: center;
    }
    .section4__text p {
        font-size:1.150rem;
    }
    .section4__btn {
        font-weight: bolder;
    }
    .section4__img {
        align-self:flex-start;
        max-width:25%;
    }

        /*Section 5*/

    .section5__header {
        max-width:50%;
        width: clamp(600px, 5vw, 700px);
    }
}